<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="harry min khant">
<meta name="keywords" content="harry, min, khant, blind, social, visually impaired, computer, pc, mobile, android">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/scripts/functions.js"></script>
{%capture basepath -%}
{%if site.base_url!="/"%}/endless-battle{%else%}{{site.base_url}}{%endif%}
{%-endcapture-%}
<script src="{{basepath}}/scripts/footer.js"></script>
{% if page.published_date%}
<title>{{ page.title }} - {{ collections.posts.title }} - {{ site.title }}</title>
{% else %}
{% capture page_title %}
{{page.title}}{%if paginator and paginator.index>1%} (page {{paginator.index}}){%endif%} - {{site.title}}
{%endcapture%}
<title>{{page_title}}</title>
{% endif %}
</head>
<body>
{%assign permalink="/" | append: page.permalink%}
<h1>Accessibility links</h1>
<a href="#mainc" class="skip-link">Skip to main content</a>
<a href="#navigation" class="skip-link">Skip to navigation</a>
<a href="#footersection" class="skip-link">Skip to footer</a>
<nav id="navigation" role="navigation" aria-label="Main menu">
<h1>Main Menu</h1>
<ul style="list-style-type:none;">
{%if site.data.nav%}
{%for pn in site.data.nav%}
<li><a {%if pn.url==permalink%}aria-current="page"{%endif%}href="{{site.base_url}}/{{pn.url}}">{{pn.name}}</a></li>
{%endfor%}
{%else%}
<p>No navigation page available.</p>
{%endif%}
</ul>
</nav>
<main>
<div id="mainc">